<div class="sm-wrapper" layout-fill fxLayout="column" fxHide="true" fxShow.lt-sm="true"
  fxLayoutAlign="space-evenly center">
  <mat-progress-bar *ngIf="this.loading" mode="indeterminate"></mat-progress-bar>
  <div class="sm-card">
    <div class="login-card-logo">
      <img class="login-card-logo-image" src="https://cdn.51st.de/assets/51st-state-banner.png">
    </div>
    <div class="sm-header">
      <h1 class="mat-headline">Anmeldung</h1>
    </div>
    <div class="sm-card-content">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Username or Email</mat-label>
        <input matInput [formControl]="nameValidator" (change)="onNameChanged()">
        <mat-error *ngIf="nameValidator.hasError('invalidName')">Invalid Name.</mat-error>
        <mat-error *ngIf="nameValidator.hasError('required')">Username or Email is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordValidator"
          (change)="onPasswordChanged()">
        <mat-error *ngIf="passwordValidator.hasError('invalidPassword')">Invalid Password.</mat-error>
        <mat-error *ngIf="passwordValidator.hasError('required')">Password is required.</mat-error>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
      <div class="submit">
        <re-captcha #recaptcha *ngIf="this.recaptchaNeeded" class="submit-recaptcha"
          (resolved)="this.onRecaptchaResolved($event)"></re-captcha>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <button [disabled]="this.submitDisabled || this.loading" mat-flat-button color="primary"
            class="submit-button sm-submit" (click)="onSubmit()">Anmelden</button>
          <div class="sm-links" fxLayout="row" fxLayoutAlign="space-between start">
            <a fxFlex="50%" target="_blank" class="link mat-body" href="https://eisengrind.de/lost-password/">Passwort
              vergessen?</a>
            <a fxFlex="50%" target="_blank" class="link mat-body" href="https://eisengrind.de/login/">Registrieren</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout-fill fxLayout="column" fxHide.lt-sm="true" fxLayoutAlign="space-evenly center" class="flex-wrapper">
  <mat-card class="login-card">
    <mat-progress-bar *ngIf="this.loading" mode="indeterminate"></mat-progress-bar>
    <div mat-card-image class="login-card-logo">
      <img class="login-card-logo-image" src="https://cdn.51st.de/assets/51st-state-banner.png">
    </div>
    <mat-card-header class="login-card-header">
      <mat-card-title>
        Anmeldung
      </mat-card-title>
      <mat-card-subtitle>
        Mit Eisengrind-Konto anmelden.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Username or Email</mat-label>
        <input matInput [formControl]="nameValidator" (change)="onNameChanged()">
        <mat-error *ngIf="nameValidator.hasError('invalidName')">Invalid Name.</mat-error>
        <mat-error *ngIf="nameValidator.hasError('required')">Username or Email is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordValidator"
          (change)="onPasswordChanged()">
        <mat-error *ngIf="passwordValidator.hasError('invalidPassword')">Invalid Password.</mat-error>
        <mat-error *ngIf="passwordValidator.hasError('required')">Password is required.</mat-error>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
      <div class="submit">
        <re-captcha #recaptcha *ngIf="this.recaptchaNeeded" class="submit-recaptcha"
          (resolved)="this.onRecaptchaResolved($event)"></re-captcha>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <a target="_blank" class="link" href="https://eisengrind.de/lost-password/">Passwort vergessen?</a>
          <a target="_blank" class="link" href="https://eisengrind.de/login/">Registrieren</a>
          <button [disabled]="this.submitDisabled || this.loading" mat-flat-button color="primary" class="submit-button"
            (click)="onSubmit()">Anmelden</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
